*,p,span,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    list-style: none;
}

html{
    font-size: 62.5%;
}

body{
    height:100%;
    width:100%;
}

.header{
    width: 100%;
    background-color: #ffffff;
    font-size: 1rem;
    color: #29b078;
    height: 40px;
    line-height: 40px;
}

.header_center{
    overflow: hidden;
}

.header_icon{
    float: right;
}

.nav_bar{
    width: 100%;
    font-size: 1.5rem;
    background-color: #29b078;
    position: relative;
}

.navbar-inverse{
    background: none;
    border: none;
    border-radius: 0;
    height: auto;
    width: auto;
    margin-bottom: 0;
    padding: 0;
}

.navbar-toggle{
    border: none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #ffffff;
}

.nav_bar .logo{
    display: block;
    float: left;
    height: 100px;
    line-height: 100px;
}

.nav_bar ul{
    float: right;
    overflow: hidden;
    border: none;
    margin: 0;
    width: 100%;
    text-align: center;
}

.nav_bar .nav_cont li{
    border-bottom: 3px rgba(41,176 ,120,0) solid;
}


.nav_bar .nav_cont li:hover{
    border-bottom: 3px #ffffff solid;
}

.nav_cont .nav>li>a{
    border-radius: 0;
    padding: 0 15px;
    height: 97px;
    line-height: 94px;
    text-align: center;
    color: #ffffff;
}

.banner{
    position: relative;
}

.banner .carousel-control{
    width: auto;
    height: 80px;
    font-size: 8rem;
    background: none;
    position: absolute;
    top:50%;
    transform: translateY(-80%);
    margin-left: 40px;
    margin-right: 40px;
}

.introduce{
    width: 100%;
    height: auto;
    background-color: #fafafa;
}

.introduce_center div{
    text-align: center;
    margin-top: 100px;
}

.introduce_center span{
    display: block;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #333333;
    font-weight:600;
}

.introduce_center p{
    margin-top: 20px;
    font-size: 1.3rem;
    color: #999999;
}

.introduce_center .students{
    border-left:2px #dedede dashed;
}

.introduce_center .students span{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 100;
    color: #26a26f;
    position: relative;
    top: 3px;
}

.learning{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    padding-top: 100px;
}

.learning_center{
    overflow: hidden;
}

.learning_center h4{
    font-weight: 600;
    text-align: center;
}

.learning_center .step{
    margin-top: 50px;
    height: 150px;
    position: relative;
}

.learning_center .dot_icon{
    height: 50px;
    width: 50px;
    display: inline-block;
    background: #ffffff;
    font-size: 1.5rem;
    color: #29b078;
    border-radius: 25px;
    text-align: center;
    line-height: 50px;
    margin-top: 75px;
    box-shadow:0 0 5px #cacaca;
    transform: translateY(-50%);
}

.learning_center span{
    color: #999999;
    font-size: 1.3rem;
    float: right;
    width:50%;
    text-align: center;
    position: relative;
    top:50%;
    transform: translate(-50%,-50%);
}

.learning_center img{
    float: right;
    position: absolute;
    top:50%;
    right:0;
    transform: translateY(-50%);
}

.stu_show{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    padding-top: 100px;
    padding-bottom: 100px;
}

.stu_show_center h4{
    font-weight: 600;
    text-align: center;
}

.stushow_second{
    margin-top: 50px;
}

.stu_show_center .stushow_third{
    width:100%;
    height: 100%;
    background: #ffffff;
    box-shadow:0px 0px 5px #cacaca;
    padding-top: 20px;
}

.stu_show_center .head_sculp_one{
    width: 40%;
    padding:20% 0;
    background: url(task8-11.png);
    background-clip: padding-box;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.stu_show_center .head_sculp_two{
    width: 40%;
    padding:20% 0;
    background: url(task8-12.png);
    background-clip: padding-box;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.stu_show_center .head_sculp_three{
    width: 40%;
    padding:20% 0;
    background: url(task8-13.png);
    background-clip: padding-box;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.stu_show_center .head_sculp_four{
    width: 40%;
    padding:20% 0;
    background: url(task8-14.png);
    background-clip: padding-box;
    background-size: cover;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.stushow_third span{
    display: block;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
    text-align: center;
}

.stushow_third p{
    color: #a1a1a1;
    font-size: 1.2rem;
    margin: 30px;
}

.round-dot{
    width: 52px;
    height: 20px;
    position: relative;
    left:50%;
    top:20px;
    transform: translateX(-50%);
}

.round-dot .dot{
    display: inline-block;
    width:10px;
    height:10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow:0px 0px 5px #cacaca;
}

.dot:hover{
    background-color: #29b078;
}

.partner{
    width: 100%;
    height: auto;
    background-color: #fafafa;
    padding-bottom: 100px;
}

.partner_center h4{
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.partner_center .web_icon{
    max-width:19.6%;
    height: 120px;
    margin: 1px;
    padding: 10px;
    background: #ffffff;
    float: left;
    line-height: 100px;
}

.partner_center img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);

}

.partner_center .web_icon:hover{
    box-shadow:0 0 10px #cacaca;
}

.friendly_link h4{
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.friendly_link{
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.friendly_link ul{
    margin-bottom: 0;
}

.friendly_link li{
    color: #999999;
    float: left;
    font-size: 1.4rem;
    padding-right: 20px;
    margin-bottom: 10px;
    border-bottom: 1px #ffffff solid;
}

.friendly_link li:hover{
    border-bottom: 1px #26a26f solid;
}

.friendly_link .round{
    display: inline-block;
    width:5px;
    height:5px;
    border-radius: 5px;
    background: #999999;
    margin-right: 12px;
}

.friendly_link a{
    color: #999999;
}

a:hover{
    text-decoration: none;
}

.friendly_link a:link{
    text-decoration: none;
}

.footer{
    width: 100%;
    background-color: #26a26f;
    color: #ffffff;
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.footer_center div{
    margin-top: 40px;
}

.jnshu span{
    display: block;
    margin-bottom: 40px;
}

.jnshu a{
    color: #ffffff;
    font-size: 1.1rem;
    padding-right: 5px;
    padding-left: 5px;
}

.jnshu p a:nth-child(1),.jnshu p a:nth-child(2){
    border-right: 1px #ffffff solid;
}

.web_site span{
    display: block;
    margin-bottom: 20px;
}

.web_site a{
    display: block;
    color: #ffffff;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-bottom: 5px;
    float: left;
    border-bottom: 1px #26a26f solid;
}

.web_site a:hover{
    border-bottom: 1px #ffffff solid;
}

.weixin{
    margin-bottom: 20px;
    text-align: center;
}

.weixin p{
    margin-bottom: 10px;
}

.footer_bottom{
    color: #ffffff;
    font-size:1rem;
    text-align: center;
    background: #26a26f;
    padding: 10px 0;
}

.footer_bottom_font{
    border-left:1px #ffffff solid;
    padding-left: 3px;
}

@media screen and (max-width: 320px) {
    .nav_bar .nav li{
        font-size: 1rem;
    }
}

@media screen and (max-width: 426px){
    .partner_center .web_icon{
        max-width: 100%;
    }
}

@media screen and (max-width: 600px){
    .carousel-control img{
        width: 13px;
        height: 23px;
    }
}

@media screen and (max-width: 600px){
    .header_icon img{
        width: 15px;
        height: 15px;
    }
}


@media only screen and (max-width: 767px) {
    .nav_cont .nav > li > a {
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 767px){
    .navbar-collapse{
        width: 100%;
        padding: 0;
    }
    .nav_bar .container{
        padding: 0;
    }
}
