
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.header{
    width:100%;
    height:50px;
    background-color: #5fc0cd;
    line-height: 50px;
}

.header a img{
    width: 11px;
    height: 18px;
    float: left;
    position: relative;
    top:16px;
    left:20px;
}

.header h1{
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
}

.banner{
    width:100%;
    height:400px;
    background: url(task5-7.png) center no-repeat;
    background-attachment:fixed;
    background-size: cover;
}



.banner .icon{
    width:150px;
    height:150px;
    border-radius: 50%;
    float: left;
    position: relative;
    top:125px;
    left:30px;
    background: url(task5-8.png) center center no-repeat;
    background-color: #ffffff;
}

.banner .per-inf{
    float: left;
}

.banner .per-inf span{
    font-size:2rem;
    color: #ffffff;
    position: relative;
    top:110px;
    left:50px;
    white-space:nowrap;
}

.banner .per-inf p{
    font-size:1.5rem;
    color: #ffffff;
    position: relative;
    left: 50px;
    top:130px;
    white-space:nowrap;
}

.content{
    width:100%;
    height: 500px;
}

.content .ability{
    width: 100%;
    height: 50px;
    border-bottom: 1px #e1e5e7 solid;
}

.content .ability p{
    font-size: 1.6rem;
    border-left: 2px #5FC0CD solid;
    float: left;
    position:relative;
    top:17px;
    left:30px;
    padding-left: 10px;
}

.content .condition{
    width: 96%;
    height: 50px;
    border-bottom:1px #E1E5E7 solid;
    margin-left: 2%;
    line-height: 50px;
}

.content .condition p{
    font-size: 1.5rem;
    float: left;
    position: relative;
    left:10px;
}

.content .condition span{
    font-size:1.5rem;
    float: left;
    position: relative;
    left:20px;
}

.content .detail{
    display:inline-block !important;
    position: relative;
    width: 96%;
    border-bottom: 1px #E1E5E7 solid;
    margin-left: 2%;
}

.content .detail p{
    border-right: #E1E5E7 solid;
    padding-right: 10px;
    color: #999999;
    font-size: 1.5rem;
    float: left;
    position: absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
}

.content .detail span{
    float:left;
    font-size: 1.5rem;
    position: relative;
    margin-left: 110px;
    padding: 1%;
}

.footer{
    width: 100%;
    height: 60px;
    background: white;
    position: fixed;
    bottom: 0;
    line-height: 60px;
}

.footer a{
    display: block;

    border:2px #5FC0CD solid;
    border-radius: 10px;
    width: 45%;
    margin-top: 10px;
    height: 40px;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    line-height: 40px;
}
.footer .footer-left{
    color: #5FC0CD;
    float: left;
    margin-left: 3%;
}

.footer .footer-right{
    color: white;
    background: #5FC0CD;
    float: right;
    margin-right: 3%;
}





