*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-color: #ffffff;
}

body{
    max-width: 640px;
    background-color: #29bde0;
    margin: 0 auto;
}

.header{
    overflow: hidden;
    width: 100%;
    height: 70px;
    max-width: 640px;
    line-height: 70px;
    background-color: #29bde0;
    border-bottom: 1px #74d4eb solid;
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    position: fixed;
    top:0;
    z-index: 999;
}

.header img:nth-child(1){
    float: left;
    margin-top: 13px;
    margin-left: 20px;
}

.header img:nth-child(3){
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}

.main{
    padding-bottom: 50%;
    margin-top: 5%;
    overflow: hidden;
}

.degree{
    float: left;
    width:20%;
    margin: 0 6.6% 8%;
    border: 3px #ffffff solid;
    background: url("../img/task3-5.png") center no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.name{
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    cursor: pointer;
}

.degree-name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
    display: none;
}

.name:hover{
    background-color: #fbb435;
}

.name:hover .degree-name{
    display: block;
}

.number{
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    background: rgba(60,164,197,0.5);
}

.degree-number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2rem;
    color: #ffffff;
    font-weight: 600;
}


.footer{
    width: 100%;
    max-width: 640px;
    padding: 3% 0;
    position: fixed;
    bottom: 0;
    background-color: #29bde0;
}

.footer .start{
    font-size: 2.5rem;
    color: #ffffff;
    background-color: #fbb435;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 3% 0;
    cursor: pointer;
}

@media screen and (max-width: 426px){
    html{
        font-size: 50%;
    }
}

@media screen and (max-width: 376px){
    html{
        font-size: 40%;
    }
}

@media screen and (max-width: 321px){
    html{
        font-size: 35%;
    }
}